body,h1,h2,h3,h4,h5,h6 {font-family: "Courier New", monospace}
.w3-bar,h1,button {font-family: "Courier New", monospace}
.fa-anchor,.fa-coffee {font-size:200px}
.ascii-art {
    font-family: monospace;
    white-space: pre;
    font-size: 40px;
    font-size: 1vw;
}
hr {
    width: 100%;
    height: 1px;
    margin: 0;
    color:#ff9fa3;
    background-color: #ff9fa3;
    border: 0 none;
}
.img-border {
    border-style: solid;
    border-width: 4px;
    border-color:#000000
}
.link-theme {
    color:#ff9fa3!important;background-color:#000000!important;border-color:#ff9fa3!important
}
.ul-1 {
    color:#FFFFFF!important;background-color:#362222!important;border-color:#000000!important
}
.uplink-quote {
    font-family: "Lucidia", monospace;
    font-style: italic;
    font-size: 25px;
    padding-top: 50px;
}
.ul-horiz {
    font-size: 100%;
    color: #ff9fa3;
    background-color: #362222;
    padding: 0px;
}
